#challenge {
    main {
        padding: 150px 0;
    }

    .shopify-challenge__container { 
        font-size: 18px;
        text-align: center;
    }

    .shopify-challenge__button {
        @extend .button;
        @extend .button--primary;
        @extend .button--transparent;
        border-radius: 0;
    }
}
