.button {
    display: inline-block;
    height: 54px;
    line-height: 3.5;
    padding-left: 3.46em;
    padding-right: 3.46em;
    font-size: $fs-small;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    transition: all 0.3s;


    &.button--primary {
        border: 2px solid $white;
        color: $white;
        background: transparent;
      
        &:hover,
        &:focus {
            background-color: $white;
            color: $black;
        }
    }

    &.button--secondary {
        padding-left: 3em;
        padding-right: 3em;
        border: 2px solid $black;
        background-color: $black;
        color: $white;
      
        &:hover,
        &:focus {
            background-color: $white;
            color: $black;
        }

        &.disabled,
        &[disabled] {

            &:hover,
            &:focus {
                background-color: $black;
                color: $white;
            }
        }
    }

    &.button--transparent {
        border: 1px solid $black;
        color: $black;
        background-color: transparent;

        &:hover,
        &:focus {
            background-color: $black;
            color: $white;
        }
    }

    &.button--large {
        display: block;
        width: 100%;
        max-width: 226px;
        height: 45px;
        line-height: 43px;
    }

    &.button--secondary.button--large {
        border-width: 1px;
    }

    // Disabled
    &.disabled,
    &[disabled] {
      
        &:hover,
        &:focus {
           
        }
    }
}