.input {
   

    &.input--error {
       
    }

    &:focus {
       
    }
}

input, textarea {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

input[type="number"] {
    display: inline-block;
    width: 71px;
    height: 45px;
    line-height: 45px;
    padding-left: 15px;
    font-family: $font-family-additional;
    border: $default-border;
    border-radius: 0;
    outline: none;
    box-shadow: none;
}