.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
  z-index: 100;

  .modal__close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 18px;
    font-weight: bold;
    color: $black;
    transition: opacity 0.3s;

    &:hover,
    &:focus {
      color: black;
      opacity: 0.5;
      text-decoration: none;
      cursor: pointer;
      transition: opacity 0.3s;
    }
  }

  .modal__content {
    position: relative;
    margin: 15% auto;
    padding: 20px;
    background-color: #fefefe;
    border: 1px solid #888;
    max-width: 600px;
  }
}