.pagination {
   

    span {
        
    }

    a {
       

        &:hover,
        &:focus {
            
        }
    }
}

.page-pagination {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 25px;

    .page-pagination__item--prev {
        text-align: left;

        i {
            margin-right: 5px;
        }
    }

    .page-pagination__item--next {
        text-align: right;

        i {
            margin-left: 5px;
        }
    }

    a {
        display: block;
        font-size: $fs-smaller;
        color: $black;
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }
    }
}