.select {

}

.currency-picker {
  visibility: hidden;
}

.select-currency {

  .select2-search--dropdown {
    display: none;
  }

  .select2-container--default {
    width: 67px !important;
  }
}
.select2-container--default {

  .select2-search {
    display: none;
  }

  .select2-selection--single {
    background-color: transparent;
    border: 1px solid $white;
    border-radius: 0;
    height: 40px;

    .select2-selection__rendered {
      font-size: $fs-small;
      color: $white;
      line-height: 40px;
    }

    .select2-selection__arrow {
      top: 7px;
      right: 5px;

      b {
        border-color: $white transparent transparent transparent;
      }
    }
  }

  .select2-results__option--highlighted[aria-selected] {
    background-color: #222;
  }

  .select2-results>.select2-results__options {
    overflow: inherit;
  }
}

.select2-dropdown {
  border: none;
  border-radius: 0;
}

.select2-results__option {
  display: block;
  width: 100%;
  font-size: $fs-small;
}