.tabs-container {

  .tabs {
    display: flex;
    align-items: center;
    margin-bottom: 35px;

    li {
      a {
        display: block;
        height: 54px;
        line-height: 54px;
        width: 100%;
        padding: 0 42px;
        font-size: $fs-small;
        font-weight: 600;
        color: $black;
        background: $white;
        text-transform: uppercase;
        text-decoration: none;
        border: 1px solid $black;
        text-align: center;
        transition: all 0.3s;

        &:hover, &:focus {
          background-color: $black;
          color: $white;
        }
      }

      &.active {
        a {
          background-color: $black;
          color: $white;
        }
      }
    }
  }

  .tabs-panel {
    display: none;
  }

  .tabs-panel.active {
    display: block;
  }
}