.blog-box {
  display: flex;
  align-items: center;
  flex-wrap: wrap;

  .blog-box__item {
    width: 33.33%;
    padding: 0 15px;
  }

  .blog-box__url {
    display: block;
    text-align: center;
    text-decoration: none;

    img {
      transition: opacity 0.3s;
    }

    &:hover {
      img {
        opacity: 0.75;
      }
    }
  }

  .blog-box__image {
    margin-bottom: 10px;
  }

  .blog-box__title {
    color: $black;
  }

  @include breakpoint(extra-small) {
    .blog-box__item {
      width: 100%;
      margin-bottom: 40px;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}