.featured-products {

}

.featured-products__item {
  display: flex;
  align-items: center;

  @include breakpoint(medium) {
    display: block;
  }
}

.featured-products__item--left {
  .featured-products__content {
    padding: 0 80px;
  }
}

.featured-products__item--right {
  flex-direction: row-reverse;

  .featured-products__content {
    padding-left: 195px;
    padding-right: 80px;

    @include breakpoint(large) {
      padding-left: 80px;
    }
  }
}

.featured-products__item--right,
.featured-products__item--left {
  .featured-products__content {

    @include breakpoint(medium) {
      padding: 60px 20px;
    }
  }
}

.featured-products__image,
.featured-products__content {
  width: 50%;

  @include breakpoint(medium) {
    width: 100%;
  }
}

.featured-products__content {

  .h3 {
    margin-bottom: 26px;
  }

  p {
    margin-bottom: 35px;
  }
}