.instafeed {

  .instafeed__box {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 15px;

    .instagram__item {
      padding: 0 15px;
      margin-bottom: 30px;
    }
  }

  .instafeed__box--desktop {
    display: flex;

    .instagram__image {
      display: block;
      width: 207px;
      height: 207px;
      margin: auto;
      transition: opacity 0.3s;

      &:hover {
        opacity: 0.5;
        transition: opacity 0.3s;
      }
    }
  }

  .instafeed__box--mobile {
    display: none;

    .instagram__picture {
      position: relative;
      width: 100%;
      padding-top: 100%;
    }

    .instagram__image {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
    }
  }

  .instafeed__username {
    display: block;
    margin: auto;
    font-size: $fs-small;
    color: #a5a5a5;
    text-decoration: underline;
    text-align: center;

    &:hover {
      color: $black;
    }
  }

  .slick-prev {
    left: -10px;
  }

  .slick-next {
    right: -10px;
  }

  @media (max-width: 1230px) {
    .instafeed__box--desktop {
      display: none;
    }

    .instafeed__box--mobile {
      display: block;
    }
  }
}