.offers-box {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.offers-box__wrapper {
  margin-bottom: 20px;
}

.offers-box__wrapper--half {
  width: 50%;

  &:nth-of-type(odd) {
    padding-right: 10px;
  }

  &:nth-of-type(even) {
    padding-left: 10px;
  }

  @include breakpoint(small) {
    width: 100%;
    padding: 0 !important;
  }
}

.offers-box__wrapper--full {
  width: 100%;

  .container {
    max-width: 1164px;
  }
}

.offer-box__item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 520px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: $white;

  .h3 {
    margin-bottom: 25px;
  }
}

.offers-box__content {
  margin-bottom: 35px;
  font-size: $fs-large;
}