.banner {
  position: relative;
  padding-top: 58px;
  padding-bottom: 60px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: $white;

  &.banner--large {
    padding-bottom: 213px;

    .menu--main {
      margin-bottom: 102px;
    }
  }

  .banner__nav {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 55px;
    z-index: 10;

    .banner__nav-item {
      width: 33%;
    }
  }

  .banner__logo {
    display: block;
    margin: auto;
    max-width: 270px;
    text-align: center;
  }

  .banner__content {
    text-align: center;

    .h1 {
      margin-bottom: 35px;
    }

    p {
      margin-bottom: 43px;
    }
  }

  @include breakpoint(small) {
    padding-top: 25px;
    padding-bottom: 25px;

    &.banner--large {
      .banner__nav {
        margin-bottom: 55px;
      }
    }

    .banner__nav {
      margin-bottom: 0;
    }

    .banner__logo {
      max-width: 170px;
    }

    .menu--right {
      padding: 0 10px;
    }
  }

  @include breakpoint(small-tablet-portrait) {
    .banner__logo {
      max-width: 70px;
    }
  }
}