.contact-form {

  .contact-form__group {
    margin-bottom: 12px;
  }

  .form-success {
    margin-bottom: 50px;
    color: green;
  }

  .errors {
    font-size: $fs-large;
    margin-bottom: 50px;
    color: red;
  }

  .label {
    display: block;
    margin-bottom: 10px;
    font-size: $fs-small;
    color: $black;
  }

  .input {
    display: block;
    width: 100%;
    height: 45px;
    line-height: 42px;
    padding: 0 15px;
    border: $default-border;
    border-radius: 0;

    &.textarea {
      height: 100px;
      margin-bottom: 30px;
      padding-top: 10px;
    }
  }

  .error {
    font-size: $fs-small;
    color: red;
  }

  .input-submit {
    display: inline-block;
    width: auto;
  }
}