footer {
  position: relative;
  padding-top: 64px;
  padding-bottom: 70px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  div[class*="col"] {
    position: inherit;
  }
}

.footer-main {
  font-size: $fs-small;

  .footer-main__nav {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @include breakpoint(extra-small) {
      margin-bottom: 40px;
    }
  }

  .footer-main__nav-title {
    margin-bottom: 5px;
    font-family: $font-karla-bold;
    color: $white;
    text-transform: uppercase;
  }

  .footer-main__nav-content {
    font-family: $font-franklin-book;
    font-size: $fs-small;
    line-height: 2.285714285714286;
    color: #a5a5a5;
  }

  .footer-main__nav-menu {
    li {
      a {
        color: inherit;
        text-decoration: none;

        &:hover {
          color: $white;
        }
      }
    }
  }

  .footer-main__cards {
    margin-top: 95px;

    .payment-icons {
      display: flex;
      align-items: center;
      flex-wrap: nowrap;

      li {
        display: block;
        width: 36px;
        height: 22px;
        margin-right: 15px;
        margin-bottom: 10px;
        background-color: $white;
        border-radius: 2px;

        svg {
          width: 100%;
          height: 100%;
        }
      }
    }

    @include breakpoint(extra-small) {
      position: absolute;
      left: 15px;
      bottom: 20px;
    }
  }

  .subscribe-form {
    margin: 5px 0;
  }

  .footer-main__nav-form {
    letter-spacing: 0.5px;
  }

  .social-icons {
    margin-top: 15px;

    svg {
      fill: $white;

      path {
        fill: $white;
      }
    }
  }
}

.footer-main__nav--left-column {
  padding-left: 40px;

  @include breakpoint(small) {
    padding-left: 0;
  }
}