.menu {
  .menu__link {
    display: block;
    padding: 0 15px;
    font-family: $font-karla-bold;
    color: inherit;
    text-transform: uppercase;
    text-decoration: none;

    &.active, &:hover {
      color: #ffd400;
    }
  }

  &.menu--right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: $fs-small;

    .menu-link--search {
      font-size: 18px;
    }

    .menu-link {
      padding: 0 35px;
    }
  }

  &.menu--main {

    &.open {
      z-index: 20;

      .nav-toggle {
        color: $black;

        span:before {
          content: "\f00d";
        }
      }

      .menu__list {
        height: auto;
        background-color: $white;
        opacity: 1;
        transition: opacity 0.5s;

        .currency-picker__wrapper {
          display: block;
        }

        .select2-selection--single {
          border: 1px solid $black;

          .select2-selection__rendered {
            color: $black;
          }

          .select2-selection__arrow {
            b {
              border-color: $black transparent transparent transparent;
            }
          }
        }
      }
    }

    .nav-toggle {
      position: absolute;
      top: 62px;
      left: 17px;
      display: block;
      border-radius: 5px;
      background-color: transparent;
      color: $white;
      cursor: pointer;
      z-index: 10;

      span {
        font-family: 'Font Awesome 5 Free';
        font-weight: 900;
        -moz-osx-font-smoothing: grayscale;
        -webkit-font-smoothing: antialiased;
        display: inline-block;
        font-style: normal;
        font-variant: normal;
        text-rendering: auto;
        line-height: 1;

        &:before {
          content: "\f0c9";
        }
      }
    }
  }

  .menu__list {
    transition: opacity 0.5s;

    ul {
      display: flex;
      justify-content: center;
    }
  }

  @include breakpoint(small) {

    .menu__link {
      padding-right: 0;
    }

    &.menu--main {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
    }

    .menu__list {
      height: 0;
      overflow: hidden;
      padding: 120px 0 20px;
      opacity: 0;

      .currency-picker__wrapper {
        display: none;
      }

      .select2-container {
        margin-left: 15px;
        margin-bottom: 30px;
        transition: none;
      }

      ul {
        display: block;

        a {
          padding: 15px;
          color: $black;

          &.active, &:hover {
            color: #ffd400;
          }
        }
      }
    }
  }

  @include breakpoint(small-tablet-portrait) {
    &.menu--main {
      .nav-toggle {
        top: 36px;
      }
    }

    .menu__list {
      padding-top: 80px;
    }
  }

  @media (min-width: 991px) {
    &.menu--main {
      .nav-toggle {
        display: none;
      }
    }
  }
}