.polular-items-slider {
  .slick-list {
    margin: auto;
    max-width: 88.6%;
  }
}

.polular-items-slider__item {

}

.polular-items-slider__content {
  position: relative;
  max-width: 360px;
  padding: 0 20px;

  .badge {
    position: absolute;
    top: 50px;
    right: 5px;
    z-index: 2;
  }

  @include breakpoint(small) {
    margin: 0 auto;
  }
}

.polular-items-slider__image {
  display: block;
  margin-bottom: 15px;

  img {
    transition: opacity 0.3s;
  }

  &:hover {
    img {
      opacity: 0.5;
    }
  }
}

.polular-items-slider__title {
  display: block;
  font-size: $fs-small;
  color: #121212;
  text-transform: uppercase;
  text-decoration: none;
  margin-bottom: 15px;
  padding-left: 15px;
  max-width: 70%;
  line-height: 1.4;

  &:hover {
    text-decoration: underline;
  }
}

.polular-items-slider__price {
  @extend .polular-items-slider__title;
  display: flex;
  align-items: center;
  margin-bottom: 0;
  padding-left: 15px;

  &:hover {
    text-decoration: none;
  }

  .current-price {
    margin-right: 20px;
  }

  .compare-at-price {
    color: #a5a5a5;
    text-decoration: line-through;
  }
}