.promo-block {
  background: $white;
  font-family: $font-family-additional;
  font-size: $fs-small;
  line-height: 2.45;
  letter-spacing: 0.9px;
  text-transform: uppercase;
  text-align: center;
  color: $black-v2;
}