.recharge {
  .rc_popup {
    display: none;
  }

  .select2-container--default .select2-selection--single {
    border-color: #000;
  }

  .select2-container--default .select2-selection--single .select2-selection__rendered {
    color: #000;
  }

  .select2-container--default .select2-selection--single .select2-selection__arrow b {
    border-color: #000 transparent transparent transparent;
  }
}