.section {
  padding: 80px 0;
}

.section-slider {
  .polular-items-slider {
    margin-top: 10px;
  }
}

.section-blog {
  padding-bottom: 110px;

  .blog-box {
    margin-top: 38px;
  }

  @include breakpoint(medium) {
    padding-top: 0;
  }
}

.section-instafeed {
  padding-top: 60px;
  padding-bottom: 70px;

  .instafeed {
    margin-top: 40px;
  }
}