.share-section {
  padding: 50px 0 60px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  h2 {
    color: $white;
    text-align: center;
    margin-bottom: 27px;
  }
}

.social-sharing {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;

  a {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-right: 25px;
    width: 88px;
    height: 40px;
    line-height: 40px;
    background-color: $white;
    font-size: $fs-smaller;
    color: $black;
    border-radius: 3px;
    text-align: center;
    text-decoration: none;

    svg {
      width: 20px;
      height: 20px;
      margin-right: 5px;

      path {
        fill: $black;
      }
    }

    &:last-child {
      margin-right: 0;
    }

    &:hover {
      background-color: #cccccc;
    }
  }

  @include breakpoint(small-tablet-portrait) {
    flex-direction: column;

    a {
      margin-right: 0;
      margin-bottom: 25px;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}