{% comment %}
  When a comment is submitted, the browser is redirected to a page that includes 
  the new comment id in its URL.
  #comments is a required ID and is used as an anchor link by Shopify.
{% endcomment %}

{%- assign number_of_comments = article.comments_count -%}

{% comment %}
  If a comment was just submitted but requires moderation, we have an extra comment to count.
{% endcomment %}
{% if comment and comment.status != 'published' %}
  {% assign number_of_comments = article.comments_count | plus: 1 %}
{% endif %}

<article role="article" itemscope itemtype="http://schema.org/Article" class="page blog-article">
  <div class="container">

    {% include 'breadcrumbs' %}

    <div class="page-pagination">
      <div class="page-pagination__item page-pagination__item--prev">
          {% if blog.previous_article %}
            <a href="{{ blog.previous_article }}"><i class="fas fa-arrow-left"></i> Previous Item</a>
          {% endif %}
      </div>

      <div class="page-pagination__item page-pagination__item--next">
          {% if blog.next_article %}
            <a href="{{ blog.next_article }}">Next Item <i class="fas fa-arrow-right"></i></a>
          {% endif %}
      </div>
    </div>

    <div class="row">
      <div class="col-lg-2">
        <div class="blog-article__post-info">
          <div class="blog-article__post-info-item">
            <div class="text-uppercase">Date</div>
            <div>{{ article.published_at | time_tag: format: 'month_day_year' }}</div>
          </div>
          <div class="blog-article__post-info-item">
            <div class="text-uppercase">Written By</div>
            <div>{{ article.author }}</div>
          </div>
        </div>

      </div>

      <div class="col-lg-7">
        <div class="blog-article__content">

          <h2>{{ article.title }}</h2>

            {{ article.content }}

            {% if settings.social_sharing_blog %}
                {% include 'social-sharing', share_title: article.title, share_permalink: article.url, share_image: article.image %}
            {% endif %}

        </div>
      </div>
      <div class="col-lg-3">
        <div class="blog-article__recent">
          <div class="article__recent-title text-uppercase">Recent Articles</div>

            {% if blog.articles_count < 10 %}
                {% for article in blog.articles %}
                    <div class="recent-articles__item">
                      <div><a href="{{ article.url }}">{{ article.title }}</a></div>
                        <div>Posted on {{ article.published_at | time_tag: format: 'month_day_year' }}</div>
                    </div>
                {% endfor %}
            {% endif %}
        </div>
      </div>
    </div>
  </div>
</article>

