<div class="cart">
  <div class="container">
    {% if cart.item_count > 0 %}
      <h1 class="cart__title h2">{{ 'cart.general.title' | t }}</h1>

      <form action="/cart" method="post" novalidate>
        <table class="cart-table responsive-table">
          <thead class="small--hide">
            <tr>
              <th colspan="2">{{ 'cart.label.product' | t }}</th>
              <th>{{ 'cart.label.price' | t }}</th>
              <th>{{ 'cart.label.quantity' | t }}</th>
              <th>{{ 'cart.label.total' | t }}</th>
            </tr>
          </thead>
          <tbody>

          {% for item in cart.items %}

          {% comment %}

          Cart Item Template
          =====================
          The data-label attributes on <td> elements are mobile-friendly
          helpers used for responsive-table labels
          {% endcomment %}

          <tr class="cart-table__tr responsive-table-row">
              <td class="cart-table__product-image-td" data-label="{{ 'customer.order.product' | t }}">
                {% if item.image != blank %}
                  <a href="{{ item.url | within: collections.all }}">
                    {{ item | img_url: '240x240' | img_tag: item.title }}
                  </a>
                {% endif %}
              </td>

              <td class="cart-table__product-info-td">
                <p><a class="cart-table__product-title" href="{{ item.url }}">{{ item.product.title }}</a></p>

                {% unless item.product.has_only_default_variant %}
                  {% for option in item.options_with_values %}
                    <p class="cart-table__product-option">{{ option.name }}: {{ option.value }}</p>
                  {% endfor %}
                {% endunless %}

                {%- assign property_size = item.properties | size -%}

                {% if property_size > 0 %}
                  {% for p in item.properties %}
                    {% if p.first == "subscription_id" %}
                      {% continue %}
                    {% endif %}

                    {% if p.first == "shipping_interval_unit_type" %}
                      {% assign interval_unit_type = p.last %}
                      {% continue %}
                    {% endif %}

                    {% if p.first == "shipping_interval_frequency" %}
                      {% assign interval_frequency = p.last %}
                      {% continue %}
                    {% endif %}

                    {%- unless p.last == blank -%}
                      <p class="cart-table__product-option">
                        {{- p.first -}}:
                        {% if p.last contains '/uploads/' %}
                          <a href="{{ p.last }}">{{ p.last | split: '/' | last }}</a>
                        {% else %}
                          {{- p.last -}}
                        {% endif %}
                      </p>
                    {%- endunless -%}

                    {% if interval_unit_type != blank and interval_frequency != blank %}
                      <p class="cart-table__product-option">
                        Delivery frequency: {{ interval_frequency }} {{ interval_unit_type | downcase }}
                      </p>
                    {% endif %}
                  {% endfor %}
                {% endif %}

                <a href="/cart/change?line={{ forloop.index }}&amp;quantity=0" class="cart-table__product-remove">{{- 'cart.general.remove' | t -}}</a>
              </td>

              <td data-label="{{ 'cart.label.price' | t }}">
                {% if item.original_line_price != item.line_price %}
                  <span class="visually-hidden">{{ 'cart.label.discounted_price' | t }}</span>
                  {{ item.price | money }}
                  <span class="visually-hidden">{{ 'cart.label.original_price' | t }}</span>
                  <s>{{ item.original_price | money }}</s>
                {% else %}
                  {{ item.price | money }}
                {% endif %}
              </td>

              <td data-label="{{ 'cart.label.quantity' | t }}">
                <input type="number"
                     name="updates[]"
                     id="updates_{{ item.key }}"
                     class="cart-table__qty"
                     value="{{ item.quantity }}"
                     min="0"
                     aria-label="{{ 'cart.general.item_quantity' | t }}">
              </td>

              <td data-label="{{ 'cart.label.total' | t }}">
                {{ item.line_price | money }}
              </td>
            </tr>

          {% endfor %}
        </tbody>
      </table>

      <div class="cart__footer">
          <div class="cart__footer-col">
            {% if settings.cart_notes_enable %}
              <label class="cart__note-label" for="CartSpecialInstructions">{{ 'cart.general.note' | t }}</label>
              <textarea
                  name="note"
                  id="CartSpecialInstructions"
                  class="textarea"
              >{{ cart.note }}</textarea>
            {% endif %}
          </div>

          <div class="cart__footer-col">
            <div class="cart__info">
              <h3 class="cart__subtotal">
                <span class="cart__subtotal-title">{{ 'cart.general.subtotal' | t }}</span>
                <span class="cart__subtotal-price">{{ cart.total_price | money }}</span>
              </h3>

              {% if cart.total_discounts > 0 %}
                <p>{{ 'cart.general.savings' | t }} {{ cart.total_discounts | money }}</p>
              {% endif %}
              <p>{{ 'cart.general.shipping_at_checkout' | t }}</p>

              <div class="cart__buttons">
                <input type="submit" name="update" class="button" value="{{ 'cart.general.update' | t }}">
                <input type="submit" name="checkout" class="button" value="{{ 'cart.general.checkout' | t }}">
              </div>
            </div>
          </div>
        </div>
    </form>
    {% else %}
      <h1 class="cart__title h2">{{ 'cart.general.title' | t }}</h1>

      {% comment %}
        Cart empty state
      {% endcomment %}
      <div class="cart__empty supports-cookies">
        <p>{{ 'cart.general.empty' | t }}</p>
        <p>{{ 'cart.general.continue_browsing_html' | t }}</p>
      </div>

      {% comment %}
      Cart no cookies state
      ---------------------
      Browser cookies are required to use the cart. If cookies aren't enabled in the
      browser a message is displayed prompting the user to enable them.
      {% endcomment %}
    {% endif %}
  </div>
</div>
