<div class="page page__contact">
  <div class="container">

      {% include 'breadcrumbs' %}

        <div class="row">
          <div class="col-md-3">
            <h2>{{ page.title }}</h2>

              {{ page.content }}
          </div>
          <div class="col-md-9">

              {% form 'contact', class: 'contact-form' %}

              {% if form.posted_successfully? %}
                <p class="form-success">
                    {{ 'contact.form.post_success' | t }}
                </p>
              {% endif %}

              {{ form.errors | default_errors }}

              <div class="contact-form__group">
                  <label class="label" for="ContactFormName">{{ 'contact.form.name' | t }}</label>
                  <input type="text"
                         class="input"
                         name="contact[name]"
                         id="ContactFormName"
                         required
                         value="{% if form[name] %}{{ form[name] }}{% elsif customer %}{{ customer.name }}{% endif %}">
              </div>


              <div class="contact-form__group">
                  <label class="label" for="ContactFormEmail">{{ 'contact.form.email' | t }}</label>
                  <input type="email"
                         class="input"
                         name="contact[email]"
                         id="ContactFormEmail"
                         value="{% if form.email %}{{ form.email }}{% elsif customer %}{{ customer.email }}{% endif %}"
                         spellcheck="false"
                         autocomplete="off"
                         required
                         autocapitalize="off">
              </div>

              <div class="contact-form__group">
                  <label class="label" for="ContactFormPhone">{{ 'contact.form.phone' | t }}</label>
                  <input type="tel"
                         class="js-phone-mask input"
                         name="contact[phone]"
                         id="ContactFormPhone"
                         required>
              </div>

              <div class="contact-form__group">
                  <label class="label" for="ContactFormMessage">{{ 'contact.form.message' | t }}</label>
                  <textarea rows="10"
                            class="input textarea"
                            name="contact[body]"
                            required
                            id="ContactFormMessage">

                    {%- if form.body -%}
                        {{- form.body -}}
                    {%- endif -%}
                  </textarea>
              </div>

        <button type="submit" class="button button--secondary input-submit" value="{{ 'contact.form.send' | t }}">Send</button>

          {% endform %}

      </div>
    </div>
  </div>
</div>