<!-- /snippets/social-sharing.liquid -->
<div class="social-sharing">

    {% if settings.share_twitter %}
        <a target="_blank" href="//twitter.com/share?text={{ share_title | url_param_escape }}&amp;url={{ shop.url | append: share_permalink }}">
            {% include 'icon-twitter' %}
            <span aria-hidden="true">{{ 'general.social.share_on_twitter' | t }}</span>
        </a>
    {% endif %}

  {% if settings.share_facebook %}
    <a target="_blank" href="//www.facebook.com/sharer.php?u={{ shop.url | append: share_permalink }}">
      {% include 'icon-facebook' %}
      <span aria-hidden="true">{{ 'general.social.share_on_facebook' | t }}</span>
    </a>
  {% endif %}

  {% if settings.share_pinterest %}
    <a target="_blank" href="//pinterest.com/pin/create/button/?url={{ shop.url | append: share_permalink }}&amp;media={{ share_image | img_url: '1024x1024' }}&amp;description={{ share_title | url_param_escape }}">
      {% include 'icon-pinterest' %}
      <span aria-hidden="true">{{ 'general.social.share_on_pinterest' | t }}</span>
    </a>
  {% endif %}

    {% if settings.share_tumblr %}
        <a target="_blank" href="https://www.tumblr.com/share">
            {% include 'icon-tumblr' %}
            <span aria-hidden="true">Post</span>
        </a>
    {% endif %}

</div>
