.blog-article {

  .page-pagination {
    margin-bottom: 18px;
  }

  .blog-article__post-info {
    padding-top: 7px;
    font-size: $fs-small;
    line-height: 1.9;

    .blog-article__post-info-item {
      margin-bottom: 30px;
    }
  }

  .blog-article__content {
    padding-left: 20px;

    .social-sharing {
      margin-top: 60px;
      justify-content: flex-start;

      a {
        border: 1px solid #ebebeb;
        margin-bottom: 25px;
        
        &:hover {
          background-color: #ebebeb;
        }
      }
    }
  }

  .blog-article__recent {
    padding-top: 12px;
    font-size: $fs-small;
    text-align: center;

    .article__recent-title {
      margin-bottom: 40px;
    }

    .recent-articles__item {
      margin-bottom: 30px;
      line-height: 1.9;

      a {
        color: inherit;

        &:hover {
          font-weight: bold;
        }
      }
    }
  }

  @include breakpoint(small) {
    .blog-article__post-info {
      display: flex;
      align-items: center;

      .blog-article__post-info-item {
        width: 100%;
      }
    }

    .blog-article__content {
      padding-left: 0;

      .social-sharing {
        margin-bottom: 60px;
      }
    }
  }

  @include breakpoint(small-tablet-portrait) {
    .blog-article__content {
      .social-sharing {
        flex-direction: row;
        margin-top: 20px;

        a {
          width: 57px;
          height: 30px;
          line-height: 30px;
          margin-right: 15px;
          margin-bottom: 15px;

          svg {
            width: 12px;
            height: 12px;
            margin: auto;
          }

          span {
            display: none;
          }
        }
      }
    }
  }

  @include breakpoint(mobile) {
    .blog-article__content {
      .social-sharing {
        a {
          width: 36px;
        }
      }
    }
  }
}