.page__contact {

  .breadcrumb {
    margin-bottom: 25px;
  }

  a[href*="tel"] {
    color: inherit;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  .contact-form {
    max-width: 300px;
    margin-top: 88px;
    margin-left: 126px;
  }

  @include breakpoint(extra-small) {
    .contact-form {
      max-width: none;
      margin-top: 40px;
      margin-left: 0;
    }
  }
}