.page__product {

  .product-grid {
    display: flex;
    flex-wrap: wrap;

    .product-grid__item {
      width: 32.25%;

      &.product-grid__item--main {
        width: 34.8%;
      }
    }
  }

  h3 {
    margin-bottom: 15px;
  }

  .product-price-wrapper {
    margin-bottom: 12px;
    font-size: 22px;
    color: #121212;

    s {
      margin-left: 25px;
      color: #a5a5a5;
    }
  }

  .quantity-wrapper {
    margin-bottom: 20px;

    label {
      display: block;
      line-height: 2;
      font-size: $fs-small;
    }
  }

  .action-wrapper {
    margin-bottom: 20px;

    button {
      margin-bottom: 20px;
    }

    .shopify-payment-button__button {
      @extend .button;
      @extend .button--secondary;
      @extend .button--large;
      margin-bottom: 0;
      padding: 0;
      border-radius: 0;
    }

    .shopify-payment-button__button--hidden {
      display: none;
    }
  }

  .product-slider {
    position: relative;
    margin-right: 20px;

    .product-slider_mini {
      padding-right: 20px;
      padding-left: 19px;
    }

    .product-slider__item {
      position: relative;
      width: 100%;
      padding-top: 100%;
      border: $default-border;
      cursor: pointer;

      .product-slider__picture {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
      }
    }

    .slick-track {
      margin-left: 0;
    }

    .slick-slide {
      padding: 0 5px;
    }
  }

  .product-slider__actions {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;

    .slider-actions_buttons {
      position: relative;
      height: 100%;
    }

    .slick-prev,
    .slick-next {
      top: 50%;
    }

    .slick-prev {
      left: 0;
    }

    .slick-next {
      right: 0;
    }

    &.not-active {
      .slick-prev,
      .slick-next {
        cursor: default;

        &:before {
          opacity: 0.3;

          &:hover {
            opacity: 0.3;
          }
        }
      }
    }
  }

  .product-slider-main {
    margin-top: 10px;
    border: $default-border;

    .product-slider__main-image {
      width: 100%;
      height: 754px;
      margin: auto;

      .product-slider__picture {
        height: 100%;
        width: 100%;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
      }
    }
  }

  .product-content {
    padding-top: 10px;
    padding-left: 31%;
    font-size: $fs-base;
    line-height: 1.7;

    p {
      font-size: inherit;
      line-height: inherit;
      margin-bottom: 30px;
    }
  }

  @include breakpoint(extra-large) {
    .product-info {
      padding-right: 60px;
    }
  }

  @include breakpoint(medium) {
    .product-grid {
      .product-grid__item {
        order: 2;
        width: 50%;

        &.product-grid__item--main {
          order: 1;
          width: 100%;
        }
      }
    }

    .product-slider-main {
      margin-bottom: 40px;
    }

    .product-slider {
      margin-bottom: 40px;
      margin-right: 0;
    }

    .product-content {
      padding-left: 60px;
    }
  }

  @include breakpoint(small) {

    .product-grid {
      .product-grid__item {
        width: 100%;
      }
    }

    .product-slider-main .product-slider__main-image {
      height: 500px;
    }

    .product-info {
      padding-right: 0;
      margin-bottom: 40px;
    }

    .product-content {
      padding-left: 0;
    }
  }

  @include breakpoint(mobile-landscape) {
    .product-slider-main .product-slider__main-image {
      height: 320px;
    }
  }
}