<section class="section-featured-products">
    <div class="featured-products">
        {% for block in section.blocks limit: section.blocks.size %}
        {%- assign product = block.settings -%}

          <div class="featured-products__item featured-products__item--{{ product.product_image_position }}" >

              <img class="featured-products__image" src="{{ product.product_image | img_url: 'master' }}">

              <div class="featured-products__content">
                  <h3 class="h3">{{ product.product_title }}</h3>

                  <p>{{ product.product_content }}</p>

                  <a href="{% if product.product_button_link == empty %}#{% else %}{{ product.product_button_link }}{% endif %}" class="button button--secondary">{{ product.product_button_text }}</a>
              </div>

          </div>
        {% endfor %}
    </div>
</section>

{% schema %}
  {
    "name": "Featured Products",
    "max_blocks": 2,
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Heading",
        "default": "Featured Products"
      }
    ],
    "blocks": [
      {
        "name": "Featured product",
        "type": "product",
        "settings": [
            {
                "type": "image_picker",
                "id": "product_image",
                "label": "Product image"
            },
            {
                "type": "select",
                "id": "product_image_position",
                "label": "Product image position",
                "options": [
                { "value": "left", "label": "Left" },
                { "value": "right", "label": "Right" }
                ],
                "default":   "left"
            },
            {
                "type": "text",
                "id": "product_title",
                "label": "Product title"
            },
            {
                "type": "textarea",
                "id": "product_content",
                "label": "Product content"
            },
            {
                "type": "text",
                "id": "product_button_link",
                "label": "Product button link"
            },
            {
                "type": "text",
                "id": "product_button_text",
                "label": "Product button text"
            }
        ]
      }
    ],
    "presets": [
      {
          "name": "Featured Products",
          "category": "Product",
          "blocks": [
          {
            "type": "product"
          },
          {
            "type": "product"
          }
        ]
      }
    ]
  }
{% endschema %}
