<footer class="footer-main" style="background-image: url({{ section.settings.footer_background | img_url: 'master' }})">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-sm-6">
                <div class="footer-main__nav footer-main__nav--left-column">
                    <div class="footer-main__nav-content">
                        {% if section.settings.footer_info_title != blank %}
                        <div class="footer-main__nav-title">{{ section.settings.footer_info_title }}</div>
                        {% endif %}
                        {% if section.settings.footer_info != blank %}
                        <div class="footer-main__nav-text">
                            {{ section.settings.footer_info }}
                        </div>
                        {% endif %}
                    </div>
                    {% if section.settings.show_payment_icons %}
                    <div class="footer-main__cards">
                            {% unless shop.enabled_payment_types == empty %}
                            {%- assign payment_icons_available = 'amazon_payments,american_express,apple_pay,bitcoin,cirrus,dankort,diners_club,discover,dogecoin,dwolla,forbrugsforeningen,interac,jcb,litecoin,maestro,master,paypal,visa' | split: ',' -%}
                            <ul class="payment-icons">
                                {% for type in shop.enabled_payment_types %}
                                    {% if payment_icons_available contains type %}
                                        <li>
                                            {%- assign icon_name = type | prepend: 'icon-' -%}
                                            {% include icon_name %}
                                        </li>
                                    {% endif %}
                                {% endfor %}
                            </ul>
                            {% endunless %}
                    </div>
                    {% endif %}
                </div>

            </div>
            <div class="col-md-4 col-sm-6">
                <div class="footer-main__nav">
                    <div class="footer-main__nav-content">
                        {% if section.settings.footer_menu_title != blank %}
                            <div class="footer-main__nav-title">{{ section.settings.footer_menu_title }}</div>
                        {% endif %}

                        {%- assign footer_linklist = section.settings.footer_linklist -%}
                        {% if linklists[footer_linklist].links.size > 0 %}
                            <ul class="footer-main__nav-menu">
                                {% for link in linklists[footer_linklist].links %}
                                    <li><a href="{{ link.url }}">{{ link.title }}</a></li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="footer-main__nav">
                    <div class="footer-main__nav-content">
                        {% if section.settings.footer_social_title != blank %}
                            <div class="footer-main__nav-title">{{ section.settings.footer_social_title }}</div>
                        {% endif %}
                        {% if section.settings.footer_social != black %}
                        <div class="footer-main__nav-form">
                            {{ section.settings.footer_social }}

                            {% if section.settings.subscription_form_type == 'shopify' %}
                                {% form 'customer', class: 'newsletter-form', id: 'newsletter-form' %}
                                <div class="subscribe-form">
                                    <input type="hidden" id="contact_tags" name="contact[tags]" value="newsletter"/>

                                    <input
                                            type="email"
                                            required
                                            class="input"
                                            placeholder="{{ section.settings.input_placeholder }}"
                                            name="contact[email]"
                                    >

                                    <button class="input-submit" type="submit">{{ section.settings.button_text }}</button>
                                </div>

                                {% if form.errors %}
                                    <p class="newsletter__error">
                                        {% for field in form.errors %}
                                            {{ field }} {{ form.errors.messages[field] }}
                                        {% endfor %}
                                    </p>
                                {% endif %}

                                {% endform %}
                            {% endif %}

                            {% if section.settings.subscription_form_type == 'klaviyo' %}
                                <div class="subscribe-form">
                                    <form id="email_signup" class="klaviyo_gdpr_embed_{{ section.settings.klaviyo_list_id }}" action="//manage.kmail-lists.com/subscriptions/subscribe" data-ajax-submit="//manage.kmail-
lists.com/ajax/subscriptions/subscribe" method="GET" target="_blank" novalidate="novalidate">
                                        <input type="hidden" name="g" value="{{ section.settings.klaviyo_list_id }}">
                                        <input type="hidden" name="$fields" value="$consent">
                                        <input type="hidden" name="$list_fields" value="$consent">
                                        <input class="input" type="email" value="" name="email" id="k_id_email" placeholder="{{ section.settings.input_placeholder }}"/>
                                        <button class="input-submit" type="submit">{{ section.settings.button_text }}</button>

                            </form>
                                </div>
                            {% endif %}

                            {% if section.settings.subscription_form_type == 'mailchimp' %}
                                <form id="newsletter-form"
                                      action="{{ section.settings.mailchimp_action }}"
                                      class="newsletter-form"
                                      method="post"
                                      target="_blank"
                                >

                                    <div class="subscribe-form">
                                        <input
                                            class="input"
                                            required
                                            placeholder="{{ section.settings.input_placeholder }}"
                                            name="EMAIL"
                                        >

                                        <button class="input-submit" type="submit" name="subscribe">{{ section.settings.button_text }}</button>
                                    </div>
                                </form>
                            {% endif %}
                        </div>
                        {% endif %}

                        {%- assign social_accounts = 'Facebook, Twitter' | split: ', ' -%}
                        <ul class="social-icons">
                            {% for social in social_accounts %}
                                {%- assign social_handle = social | handleize -%}
                                {% capture social_link %}social_{{ social_handle }}_link{% endcapture %}
                                {% capture social_icon %}icon-{{ social_handle }}{% endcapture %}

                                {% if settings[social_link] != blank %}
                                    <li>
                                        <a href="{{ settings[social_link] }}" title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: social }}">
                                            {% include social_icon %}
                                        </a>
                                    </li>
                                {% endif %}

                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>

<!-- The Modal -->
<div id="subscribe-popup" class="subscribe-popup modal">

    <!-- Modal content -->
    <div class="animated fadeIn modal__content">
        <span class="modal__close"><i class="fas fa-times"></i></span>
        <p>Thank you for getting in touch!</p>
    </div>

</div>

{% schema %}
  {
    "name": "Footer",
    "settings": [
      {
        "type": "image_picker",
        "id": "footer_background",
        "label": "Background image"
      },
      {
        "type": "header",
        "content": "First Column"
        },
      {
        "type": "text",
        "id": "footer_info_title",
        "label": "Footer info title",
        "default": "footer"
      },
      {
        "type": "textarea",
        "id": "footer_info",
        "label": "Footer Info",
        "default": "footer"
      },
      {
        "type": "checkbox",
        "id": "show_payment_icons",
        "label": "Show payment icons",
        "default": false
      },
      {
        "type": "header",
        "content": "Second column"
      },
      {
        "type": "text",
        "id": "footer_menu_title",
        "label": "Footer menu title",
        "default": "footer"
      },
      {
        "type": "link_list",
        "id": "footer_linklist",
        "label": "Footer menu",
        "default": "footer"
      },
      {
        "type": "header",
        "content": "Third column"
      },
      {
        "type": "text",
        "id": "footer_social_title",
        "label": "Footer social title",
        "default": "footer"
      },
      {
        "type": "text",
        "id": "footer_social",
        "label": "Column text",
        "default": "footer"
      },
      {
        "type": "header",
        "content": "Subscribe settings "
      },
      {
        "type": "radio",
        "id": "subscription_form_type",
        "label": "Choose subscribition:",
        "options": [
        { "value": "mailchimp", "label": "MailChimp" },
        { "value": "klaviyo", "label": "Klaviyo" },
        { "value": "shopify", "label": "Shopify" }
        ],
        "default":   "mailchimp"
      },
      {
        "type": "text",
        "id": "input_placeholder",
        "label": "Placeholder",
        "default": "Please enter email"
      },
      {
        "type": "text",
        "id": "button_text",
        "label": "Button text",
        "default": "Subscribe"
      },
      {
        "type": "text",
        "id": "klaviyo_list_id",
        "label": "Klaviyo list id",
        "info": "Open list and copy ID from [URL](http:\/\/prntscr.com\/m4teyg)"
      },
      {
        "type": "text",
        "id": "mailchimp_action",
        "label": "Mailchimp form action URL",
        "info": "Open form and copy URL from MailChimp"
      }
    ]
  }

{% endschema %}
