<div data-section-id="{{ section.id }}" data-section-type="header-section">
    <header>
        {% if section.settings.banner_title != blank %}
            <div class="promo-block">
                {{ section.settings.promo }}
            </div>
        {% endif %}

        <div class="banner{% if template.name == 'index' %} banner--large{% endif %}" style="background-image: url({% if template.name == 'index' %} {{ section.settings.header_background_homepage | img_url: 'master' }} {% else %} {{ section.settings.header_background | img_url: 'master' }} {% endif %})">
            <div class="container">
                <nav class="banner__nav">
                    <div class="banner__nav-item">
                        <div class="hidden-md">
                            {% include 'currency-picker' %}
                        </div>
                    </div>

                    <div class="banner__nav-item">
                        <a href="/" itemprop="url" class="banner__logo {% if section.settings.logo != blank %}{% endif %}">
                            {% if section.settings.logo != blank %}
                                {% capture image_size %}{{ section.settings.logo_max_width }}x{% endcapture %}
                                <img src="{{ section.settings.logo | img_url: image_size }}"
                                     alt="{{ section.settings.logo.alt | default: shop.name }}"
                                     itemprop="logo">
                            {% else %}
                                {{ shop.name }}
                            {% endif %}
                        </a>
                    </div>

                    <div class="banner__nav-item">
                        {% if section.settings.header_linklist != blank %}
                            <ul class="menu menu--right">
                                {% for link in linklists[section.settings.header_linklist].links %}
                                    {% if link.type == 'search_link' %}
                                        <li class="hidden-md">
                                            <a class="menu__link menu__link--search " href="{{ link.url }}">
                                                <i class="fas fa-search"></i>
                                            </a>
                                        </li>
                                    {% else %}
                                        <li>
                                            <a class="menu__link" href="{{ link.url }}">{{ link.title | escape }}</a>
                                        </li>
                                    {% endif %}
                                {% endfor %}
                            </ul>
                        {% endif %}
                    </div>
                </nav>

                {% if section.settings.main_linklist != blank %}
                    <div id="navigation" class="menu menu--main">
                        <a aria-label="mobile menu" class="nav-toggle">
                            <span></span>
                        </a>

                        <div class="menu__list">
                            <div class="visible-sm">
                                {% include 'currency-picker' %}
                            </div>

                            <ul id="main-menu">
                                {% for link in linklists[section.settings.main_linklist].links %}
                                    {% if link.type == 'search_link' %}
                                        <li class="visible-sm">
                                            <a class="menu__link menu__link--search" href="{{ link.url }}">
                                                <i class="fas fa-search"></i>
                                            </a>
                                        </li>
                                    {% else %}
                                        <li>
                                            <a class="menu__link" href="{{ link.url }}">{{ link.title | escape }}</a>
                                        </li>
                                    {% endif %}

                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                {% endif %}

                {% if template.name == 'index' %}
                    <div class="banner__content">
                        {% if section.settings.banner_title != blank %}
                            <h1 class="h1">{{section.settings.banner_title}}</h1>
                        {% endif %}

                        {% if section.settings.banner_text != blank %}
                            {{ section.settings.banner_text }}
                        {% endif %}

                        {% if section.settings.banner_link != blank %}
                            <a href="{{ section.settings.banner_link }}" class="button button--primary">Shop Now</a>
                        {% endif %}
                    </div>
                {% endif %}
            </div>
        </div>
    </header>
</div>

{% schema %}
  {
    "name": "Header",
    "settings": [
      {
        "type": "text",
        "id": "promo",
        "label": "Promo text"
      },
      {
        "type": "image_picker",
        "id": "logo",
        "label": "Logo image"
      },
      {
        "type": "range",
        "id": "logo_max_width",
        "min": 50,
        "max": 450,
        "step": 10,
        "unit": "px",
        "label": "Custom logo width",
        "default": 250
      },
      {
        "type": "image_picker",
        "id": "header_background",
        "label": "Background image"
      },
      {
        "type": "image_picker",
        "id": "header_background_homepage",
        "label": "Background image for Homepage"
      },
      {
        "type": "link_list",
        "id": "main_linklist",
        "label": "Menu",
        "default": "main-menu"
      },
      {
        "type": "link_list",
        "id": "header_linklist",
        "label": "Menu"
      },
      {
        "type": "text",
        "id": "banner_title",
        "label": "Banner Title"
      },
      {
        "type": "textarea",
        "id": "banner_text",
        "label": "Banner text"
      },
      {
        "type": "text",
        "id": "banner_link",
        "label": "Banner link"
      }
    ]
  }
{% endschema %}
