<section class="section section-blog">
    <div class="container container--small">
        {% if section.settings.title != blank %}
            <h2 class="text-center">{{ section.settings.title | escape }}</h2>
        {% endif %}

        <div class="blog-box">
            {% for block in section.blocks limit: section.blocks.size %}
                <div class="blog-box__item">
                    {%- assign blog = articles[block.settings.article] -%}
                    <a href="{% if blog.url == empty %}#{% else %}{{ blog.url }}{% endif %}" class="blog-box__url">
                        <img class="blog-box__image" src="{{ blog.image | img_url: 'master' }}" alt="">
                        <p class="blog-box__title">{{ blog.title }}</p>
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>
</section>

{% schema %}
  {
    "name": "Featured blogs",
    "max_blocks": 6,
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Heading",
        "default": "Blog"
      }
    ],
    "blocks": [
      {
        "name": "Featured blog",
        "type": "article",
        "name": "Blog",
        "settings": [
          {
            "label": "Blog",
            "id": "article",
            "type": "article"
          }
        ]
      }
    ],
    "presets": [
      {
          "name": "Featured blogs",
          "category": "article",
          "blocks": [
          {
            "type": "article"
          },
          {
            "type": "article"
          },
          {
            "type": "article"
          }
        ]
      }
    ]
  }
{% endschema %}
