<section class="section section-instafeed">
    {% if section.settings.title != blank %}
        <h2 class="text-center">{{ section.settings.title | escape }}</h2>
    {% endif %}
    <div class="container container--small">
        <div class="instafeed">
            {%- assign instafeed = section.settings -%}

            <div class="instafeed__box instafeed__box--desktop" id="instafeed-1" data-token="{{ instafeed.token }}" data-userid="{{ instafeed.user_id }}"></div>

            <div class="instafeed__box instafeed__box--mobile" id="instafeed-2" data-token="{{ instafeed.token }}" data-userid="{{ instafeed.user_id }}"></div>

            <a class="instafeed__username" href="https://www.instagram.com/{{ instafeed.username }}/">@{{ instafeed.username }}</a>

        </div>

    </div>
</section>

{% schema %}
    {
        "name": "Instafeed",
        "settings": [
            {
                "type": "text",
                "id": "title",
                "label": "Heading",
                "default": "Instafeed"
            },
            {
                "type": "text",
                "id": "username",
                "label": "User Name"
            },
            {
                "type": "text",
                "id": "token",
                "label": "Token"
            },
            {
                "type": "text",
                "id": "user_id",
                "label": "User ID"
            }
        ],
        "presets": [
            {
                "name": "Instafeed"
            }
        ]
    }
{% endschema %}
