<section class="section__offers">
    <div class="offers-box">
        {%- assign offer = section.settings -%}
        <div class="offers-box__wrapper offers-box__wrapper--half">
            <div class="offer-box__item align-items-{{ offer.offer_align_b1 }} align-items-sm-{{ offer.offer_align_mobile_b1 }}" style="background-image: url('{{ offer.offer_image_b1 | img_url: 'master'  }}');">
                {% if offer.offer_title_b1 != blank %}
                    <h3>{{ offer.offer_title_b1 }}</h3>
                {% endif %}
                {% if offer.offer_content_b1 != blank %}
                    <div class="offers-box__content">
                        {{ offer.offer_content_b1 }}
                    </div>
                {% endif %}

                {% if offer.offer_button_text_b1 !=black %}
                    <a href="{% if offer.offer_button_link_b1 == empty %}#{% else %}{{ offer.offer_button_link_b1 }}{% endif %}" class="button button--primary">{{ offer.offer_button_text_b1 }}</a>
                {% endif %}
            </div>
        </div>

        <div class="offers-box__wrapper offers-box__wrapper--half">
            <div class="offer-box__item align-items-{{ offer.offer_align_b2 }} align-items-sm-{{ offer.offer_align_mobile_b2 }}" style="background-image: url('{{ offer.offer_image_b2 | img_url: 'master'  }}');">
                {% if offer.offer_title_b2 != blank %}
                    <h3>{{ offer.offer_title_b2 }}</h3>
                {% endif %}
                {% if offer.offer_content_b2 != blank %}
                    <div class="offers-box__content">
                        {{ offer.offer_content_b2 }}
                    </div>
                {% endif %}

                {% if offer.offer_button_text_b2 !=black %}
                    <a href="{% if offer.offer_button_link_b2 == empty %}#{% else %}{{ offer.offer_button_link_b2 }}{% endif %}" class="button button--primary">{{ offer.offer_button_text_b2 }}</a>
                {% endif %}
            </div>
        </div>
    </div>
</section>

{% schema %}
    {
        "name": "Offer Half Size",
        "settings": [
            {
                "type": "header",
                "content": "First Box"
            },
            {
                "type": "image_picker",
                "id": "offer_image_b1",
                "label": "Offer image"
            },
            {
                "type": "select",
                "id": "offer_align_b1",
                "label": "Choose align text on desktop:",
                "options": [
                    { "value": "flex-start", "label": "Left" },
                    { "value": "center", "label": "Center" },
                    { "value": "flex-end", "label": "Right" }
            ],
                "default":   "center"
            },
            {
                "type": "select",
                "id": "offer_align_mobile_b1",
                "label": "Choose align text on mobile:",
                "options": [
                { "value": "left", "label": "Left" },
                { "value": "center", "label": "Center" },
                { "value": "right", "label": "Right" }
                ],
                "default":   "center"
            },
            {
                "type": "text",
                "id": "offer_title_b1",
                "label": "Offer title"
            },
            {
                "type": "textarea",
                "id": "offer_content_b1",
                "label": "Offer content"
            },
            {
                "type": "text",
                "id": "offer_button_link_b1",
                "label": "Offer button link"
            },
            {
                "type": "text",
                "id": "offer_button_text_b1",
                "label": "Offer button text"
            },
            {
                "type": "header",
                "content": "Second Box"
            },
            {
                "type": "image_picker",
                "id": "offer_image_b2",
                "label": "Offer image"
            },
            {
                "type": "select",
                "id": "offer_align_b2",
                "label": "Choose align text on desktop:",
                "options": [
                    { "value": "flex-start", "label": "Left" },
                    { "value": "center", "label": "Center" },
                    { "value": "flex-end", "label": "Right" }
                ],
                "default":   "center"
            },
            {
                "type": "select",
                "id": "offer_align_mobile_b2",
                "label": "Choose align text on mobile:",
                "options": [
                    { "value": "left", "label": "Left" },
                    { "value": "center", "label": "Center" },
                    { "value": "right", "label": "Right" }
                ],
                "default":   "center"
            },
            {
                "type": "text",
                "id": "offer_title_b2",
                "label": "Offer title"
            },
            {
                "type": "textarea",
                "id": "offer_content_b2",
                "label": "Offer content"
            },
            {
                "type": "text",
                "id": "offer_button_link_b2",
                "label": "Offer button link"
            },
            {
                "type": "text",
                "id": "offer_button_text_b2",
                "label": "Offer button text"
            }
        ],
        "presets": [
            {
                "name": "Offer Half Size"
            }
        ]
    }
{% endschema %}
