<section class="section-offers">
    <div class="offers-box">
        {%- assign offer = section.settings -%}
        <div class="offers-box__wrapper offers-box__wrapper--full">
            <div class="offer-box__item text-{{ offer.offer_align }} text-md-{{ offer.offer_align_mobile }}" style="background-image: url('{{ offer.offer_image | img_url: 'master'  }}');">
                <div class="container">
                    {% if offer.offer_title != blank %}
                    <h3 class="h3">{{ offer.offer_title }}</h3>
                    {% endif %}
                    {% if offer.offer_content != blank %}
                    <div class="offers-box__content">
                        {{ offer.offer_content }}
                    </div>
                    {% endif %}

                    {% if offer.offer_button_text !=black %}
                    <a href="{% if offer.offer_button_link == empty %}#{% else %}{{ offer.offer_button_link }}{% endif %}" class="button button--primary">{{ offer.offer_button_text }}</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</section>

{% schema %}
    {
        "name": "Offer Full Size",
        "settings": [
            {
                "type": "image_picker",
                "id": "offer_image",
                "label": "Offer image"
            },
            {
                "type": "select",
                "id": "offer_align",
                "label": "Choose align text on desktop:",
                "options": [
                    { "value": "left", "label": "Left" },
                    { "value": "center", "label": "Center" },
                    { "value": "right", "label": "Right" }
                ],
                "default":   "center"
            },
            {
                "type": "select",
                "id": "offer_align_mobile",
                "label": "Choose align text on mobile:",
                "options": [
                    { "value": "left", "label": "Left" },
                    { "value": "center", "label": "Center" },
                    { "value": "right", "label": "Right" }
                    ],
                "default":   "center"
            },
            {
                "type": "text",
                "id": "offer_title",
                "label": "Offer title"
            },
            {
                "type": "textarea",
                "id": "offer_content",
                "label": "Offer content"
            },
            {
                "type": "text",
                "id": "offer_button_link",
                "label": "Offer button link"
            },
            {
                "type": "text",
                "id": "offer_button_text",
                "label": "Offer button text"
            }
        ],
        "presets": [
            {
                "name": "Offer Full Size"
            }
        ]
    }
{% endschema %}
