<section class="section section-slider">
    {% if section.settings.title != blank %}
      <h2 class="h2 text-center">{{ section.settings.title | escape }}</h2>
    {% endif %}

    <div class="polular-items-slider">
        {% for block in section.blocks limit: section.blocks.size %}
          <div class="polular-items-slider__item">
              <div class="polular-items-slider__content">
                  {%- assign product = all_products[block.settings.product] -%}

                  {% if product.compare_at_price_max > product.price %}
                      <div class="badge">Sale</div>
                  {% endif %}

                  <a class="polular-items-slider__image" href="{% if product == empty %}#{% else %}{{ product.url }}{% endif %}">
                      <img src="{{ product.featured_image.src | product_img_url: 'master' }}">
                  </a>

                  <a class="polular-items-slider__title" href="{% if product == empty %}#{% else %}{{ product.url }}{% endif %}">
              <span>
                  {% if product == empty %}
                      {{ 'homepage.onboarding.product_title' | t }}
                  {% else %}
                      {{ product.title }}
                  {% endif %}
              </span>
                  </a>
                  <div class="polular-items-slider__price">
                      <div class="current-price">
                          {{ product.price | money }}
                      </div>
                      {% if product.compare_at_price_max > 0 %}
                          <div class="compare-at-price">
                              {{ product.compare_at_price_max | money }}
                          </div>
                      {% endif %}
                  </div>
              </div>
          </div>
        {% endfor %}
    </div>
</section>

{% schema %}
  {
    "name": "Popular Items",
    "max_blocks": 16,
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Heading",
        "default": "Popular Items"
      }
    ],
    "blocks": [
      {
        "name": "Featured product",
        "type": "product",
        "name": "Product",
        "settings": [
          {
            "label": "Product",
            "id": "product",
            "type": "product"
          }
        ]
      }
    ],
    "presets": [
      {
          "name": "Popular Items",
          "category": "Product",
          "blocks": [
          {
            "type": "product"
          },
          {
            "type": "product"
          },
          {
            "type": "product"
          }
        ]
      }
    ]
  }
{% endschema %}
