<div data-section-id="{{ section.id }}" class="page page__product" data-section-type="product" data-enable-history-state="true" itemscope itemtype="http://schema.org/Product">
  <div class="container">

      {%- assign current_variant = product.selected_or_first_available_variant -%}
      {%- assign featured_image = current_variant.featured_image | default: product.featured_image -%}

    <meta itemprop="name" content="{{ product.title }}{% unless product.has_only_default_variant %} - {{ current_variant.title }}{% endunless %}">
    <meta itemprop="url" content="{{ shop.url }}{{ current_variant.url }}">
    <meta itemprop="brand" content="{{ product.vendor }}">
    <meta itemprop="image" content="{{ featured_image | img_url: '600x600' }}">
    <meta itemprop="description" content="{{ product.description | strip_html | escape }}">

      {% include 'breadcrumbs' %}

      <div class="page-pagination">
          <div class="page-pagination__item page-pagination__item--prev">
              {% if product.metafields.accentuate.prev_link %}
                  <a href="/products/{{ product.metafields.accentuate.prev_link }}"><i class="fas fa-arrow-left"></i> Previous Item</a>
              {% endif %}
          </div>

          <div class="page-pagination__item page-pagination__item--next">
              {% if product.metafields.accentuate.next_link %}
                  <a href="/products/{{ product.metafields.accentuate.next_link }}">Next Item <i class="fas fa-arrow-right"></i></a>
              {% endif %}
          </div>
      </div>

      <div class="product-grid">
          <div class="product-grid__item">
              <div class="product-info">
                  <h3>{{ product.title }}</h3>

                  <div itemprop="offers" itemscope itemtype="http://schema.org/Offer">
                      <meta itemprop="priceCurrency" content="{{ shop.currency }}">
                      <meta itemprop="price" content="{{ current_variant.price | divided_by: 100.00 }}">
                      <link itemprop="availability" href="http://schema.org/{% if current_variant.available %}InStock{% else %}OutOfStock{% endif %}">

                      {% form 'product', product, data-productid: {{product.id}} %}
                      {% unless product.has_only_default_variant %}
                      {% for option in product.options_with_values %}
                          <div class="selector-wrapper js">
                              <label for="SingleOptionSelector-{{ forloop.index0 }}">
                                  {{ option.name }}
                              </label>

                              <select
                                      id="SingleOptionSelector-{{ forloop.index0 }}"
                                      data-single-option-selector
                                      data-index="option{{ option.position }}">
                                  {% for value in option.values %}
                                      <option
                                              value="{{ value | escape }}"
                                              {% if option.selected_value == value %}selected="selected"{% endif %}>
                                          {{ value }}
                                      </option>
                                  {% endfor %}
                              </select>
                          </div>
                      {% endfor %}
                      {% endunless %}

                      <div class="product-price-wrapper" data-price-wrapper>
                <span data-product-price>
                  {{ current_variant.price | money }}
                </span>

                          {% if product.compare_at_price_max > product.price %}
                              <s data-compare-price>
                                  {% if current_variant.compare_at_price > current_variant.price %}
                                      {{ current_variant.compare_at_price | money }}
                                  {% endif %}
                              </s>
                          {% endif %}
                      </div>

                      <div class="quantity-wrapper">
                          <label for="Quantity">{{ 'products.product.quantity' | t }}</label>
                          <input type="number" id="Quantity" name="quantity" value="1" min="1" max="99" placeholder="1">
                      </div>

                      <div class="action-wrapper">

                          <div class="recharge">
                              {% if product.available %}{% include 'subscription-product' %}{% endif %}
                              <input type="hidden" name="id" value="{{ product.variants.first.id }}" data-productid="{{product.id}}" />
                          </div>

                          <button class="button button--primary button--transparent button--large" type="submit" name="add" data-add-to-cart
                                  {% unless current_variant.available %}disabled="disabled"{% endunless %}>
                              {% if current_variant.available %}
                                  {{ 'products.product.add_to_cart' | t }}
                              {% else %}
                                  {{ 'products.product.sold_out' | t }}
                              {% endif %}
                          </button>

                          {{ form | payment_button }}
                      </div>
                      {% endform %}


                      <div class="hidden-lg">
                          <div class="product-slider">
                              <div class="product-slider_mini">
                                  {% for image in product.images %}
                                      <div>
                                          <div class="product-slider__item">
                                              <div class="product-slider__picture" style="background-image: url({{ image.src | img_url: 'master' }});">
                                              </div>
                                          </div>
                                      </div>
                                  {% endfor %}
                              </div>
                              <div class="js-slider-actions product-slider__actions">
                                  <div class="slider-actions_buttons">
                                      <button class="slick-prev"></button>
                                      <button class="slick-next"></button>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>

          <div class="product-grid__item product-grid__item--main">

              <div class="product-slider-main">
                  {% for image in product.images %}
                      <div>
                          <div class="product-slider__item">
                              <div class="product-slider__main-image">
                                  <div class="product-slider__picture" style="background-image: url({{ image.src | img_url: 'master' }});"></div>
                              </div>
                          </div>
                      </div>
                  {% endfor %}
              </div>

              <div class="visible-lg">
                  <div class="product-slider">
                      <div class="product-slider_mini">
                          {% for image in product.images %}
                              <div>
                                  <div class="product-slider__item">
                                      <div class="product-slider__picture" style="background-image: url({{ image.src | img_url: 'master' }});">
                                      </div>
                                  </div>
                              </div>
                          {% endfor %}
                      </div>
                      <div class="js-slider-actions product-slider__actions">
                          <div class="slider-actions_buttons">
                              <button class="slick-prev"></button>
                              <button class="slick-next"></button>
                          </div>
                      </div>
                  </div>
              </div>

          </div>

          <div class="product-grid__item">
              <div class="product-content">

                  <div class="tabs-container">

                      <ul class="tabs">
                          <li class="active">
                              <a href="#">Description</a>
                          </li>
                          <li>
                              <a href="#">Info</a>
                          </li>
                      </ul>

                      <div class="tabs-content">

                          <div class="tabs-panel active" data-index="0">
                              {{ product.description }}
                          </div>

                          <div class="tabs-panel" data-index="1">
                              {{ product.metafields.accentuate.Info }}
                          </div>

                      </div>
                  </div>

              </div>
          </div>
      </div>

  </div>
</div>

<section class="share-section" {% if section.settings.social_background != blank %} style="background-image: url({{ section.settings.social_background | img_url: 'master' }});" {% endif %}>
    <div class="container">
        {% if section.settings.social_title != blank %}
        <h2>{{ section.settings.social_title }}</h2>
        {% endif %}
        {% if section.settings.show_share_buttons %}
            {% include 'social-sharing', share_title: product.title, share_permalink: product.url, share_image: product %}
        {% endif %}
    </div>
</section>

{% schema %}
  {
    "name": "Product pages",
    "settings": [
      {
        "type": "text",
        "id": "social_title",
        "label": "Social Title"
      },
      {
        "type": "checkbox",
        "id": "show_share_buttons",
        "label": "Show social sharing buttons",
        "default": true
      },
      {
        "type": "image_picker",
        "id": "social_background",
        "label": "Background image"
      }
    ]
  }
{% endschema %}
