.social-icons {
  display: flex;

  li {
    margin-right: 20px;

    a {
      display: block;

      &:hover {
        opacity: 0.5;
      }
    }

    svg {
      width: 20px;
      height: 20px;
    }

    &:last-child {
      margin-right: 0;
    }
  }
}