.subscribe-form {
  display: flex;
  align-items: center;

  .input {
    margin-right: 10px;
    padding: 0 10px;
    min-width: 170px;
    height: 28px;
    line-height: 28px;
    font-size: 12px;
    color: $white;
    background-color: transparent;
    border: 1px solid $white;
    border-radius: 0;

    @include placeholder {
      color: $white;
      opacity: 0.5;
    }
  }

  .input-submit {
    padding: 0 15px;
    height: 28px;
    line-height: 28px;
    background-color: #ff6cd2;
    color: $black;

    &:hover, &:focus {
      background-color: lighten(#ff6cd2, 10%);
    }
  }
}