@import url('_variables.scss');
@import url('_grid.scss');
@import url('_utd-reset.scss');
@import url('_fonts.scss');
@import url('_typography.scss');

* {
    box-sizing: border-box;
    outline: none;
}

html,
body {
    background-color: $white;
}


body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: $font-family-main;
}

a, button {
    transition: all 0.3s;

    &:hover {
        transition: all 0.3s;
    }
}

.content {
    flex: 1 0 auto;
}

.container {
    width: 100%;
    max-width: $container;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.container--small {
    max-width: $container-small;
}

.text-center {
    text-align: center;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.text-sm-center {
    @include breakpoint(extra-small) {
        text-align: center;
    }
}

.text-sm-left {
    @include breakpoint(extra-small) {
        text-align: left;
    }
}

.text-sm-right {
    @include breakpoint(extra-small) {
        text-align: right;
    }
}

.text-md-center {
    @include breakpoint(small) {
        text-align: center;
    }
}

.text-md-left {
    @include breakpoint(small) {
        text-align: left;
    }
}

.text-md-right {
    @include breakpoint(small) {
        text-align: right;
    }
}

.align-items-center {
    align-items: center;
}

.align-items-flex-start {
    align-items: flex-start;
}

.align-items-flex-end {
    align-items: flex-end;
}

.align-items-sm-center {
    @include breakpoint(extra-small) {
        align-items: center;
    }
}

.align-items-sm-flex-start {
    @include breakpoint(extra-small) {
        align-items: flex-start;
    }
}

.align-items-sm-flex-end {
    @include breakpoint(extra-small) {
        align-items: flex-end;
    }
}
.align-items-md-center {
    @include breakpoint(small) {
        align-items: center;
    }
}

.align-items-md-flex-start {
    @include breakpoint(small) {
        align-items: flex-start;
    }
}

.align-items-md-flex-end {
    @include breakpoint(small) {
        align-items: flex-end;
    }
}

.hidden-sm {
    @include breakpoint(extra-small) {
        display: none;
    }
}

.hidden-md {
    @include breakpoint(small) {
        display: none;
    }
}

.visible-sm {
    display: none;

    @include breakpoint(small) {
        display: block;
    }
}

.hidden-lg {
    @include breakpoint(medium) {
        display: none;
    }
}

.visible-lg {
    display: none;

    @include breakpoint(medium) {
        display: block;
    }
}

.text-uppercase {
    text-transform: uppercase;
}
