@font-face {
  font-family: 'FranklinGothic-Book';
  src: url('FranklinGothic-Book.eot?#iefix') format('embedded-opentype'),
  url('FranklinGothic-Book.woff') format('woff'),
  url('FranklinGothic-Book.ttf') format('truetype'),
  url('FranklinGothic-Book.svg#FranklinGothic-Book') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'FranklinGothic-Heavy';
  src: url('FranklinGothic-Heavy.eot?#iefix') format('embedded-opentype'),
  url('FranklinGothic-Heavy.woff') format('woff'),
  url('FranklinGothic-Heavy.ttf') format('truetype'),
  url('FranklinGothic-Heavy.svg#FranklinGothic-Heavy') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Karla-Regular';
  src: url('Karla-Regular.eot?#iefix') format('embedded-opentype'),
  url('Karla-Regular.woff') format('woff'),
  url('Karla-Regular.ttf') format('truetype'),
  url('Karla-Regular.svg#Karla-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Karla-Bold';
  src: url('Karla-Bold.eot?#iefix') format('embedded-opentype'),
  url('Karla-Bold.woff') format('woff'),
  url('Karla-Bold.ttf') format('truetype'),
  url('Karla-Bold.svg#Karla-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}

