//typography: base styles for fonts, p, a, standard h1, h2 ...

body {
    font-size: $default-font-size;
    color: $black;
}

h1, h2, h3, h4, h5 {
    font-family: $font-title;
    font-weight: normal;
    text-transform: uppercase;
}

h1 {

}

.h1 {
    font-size: $fs-title-main;
    letter-spacing: 2.5px;

    @include breakpoint(extra-small) {
        font-size: 40px;
    }
}

h2 {
    font-size: $fs-title;
    line-height: 1.25;

    @include breakpoint(extra-small) {
        font-size: 32px;
    }
}

.h2 {
    font-size: $fs-title;
    line-height: 1.25;

    @include breakpoint(extra-small) {
        font-size: 32px;
    }
}

h3 {
    font-size: $fs-extra-large;

    @include breakpoint(extra-small) {
        font-size: 26px;
    }
}

.h3 {
    font-size: $fs-extra-large;

    @include breakpoint(extra-small) {
        font-size: 26px;
    }
}

p {
    font-size: $fs-large;

    @include breakpoint(extra-small) {
        font-size: 16px;
    }
}

strong {
    font-weight: bold;
}

