$white:                         #ffffff;
$black:                         #222222;
$black-v2:                      #121212;
$grey:                          #9A9A9A;


// Fonts

$font-karla-regular:            'Karla-Regular';
$font-karla-bold:               'Karla-Bold';
$font-franklin-heavy:           'FranklinGothic-Heavy';
$font-franklin-book:            'FranklinGothic-Book';

$font-family-main:              $font-karla-regular;
$font-family-additional:        $font-franklin-book;
$font-title:                    $font-franklin-heavy;
$main-font-color:               $black;

$border-color:                  #a5a5a5;

$default-font-size:             16px;

$fs-extra-small:                10px;
$fs-smaller:                    12px;
$fs-small:                      14px;
$fs-base:                       $default-font-size;
$fs-large:                      20px;
$fs-extra-large:                41px;
$fs-title:                      48px;
$fs-title-main:                 70px;

$default-line-height:           1.5;


// Space

$space-base:                    15px;
$space-minimal:                 10px;
$space-large:                   35px;
$default-padding:               45px;
$full-width:                    100%;


// Sizes

$container:                     1755px;
$container-small:               1250px;

// Borders

$default-border:                1px solid $border-color;


// Shadows

$default-shadow:                0 0 4px 0 rgba(0,0,0,0.13);


